@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-spin-slow: spin 3s linear infinite;
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-text-shimmer: text-shimmer 2.5s ease-out infinite alternate;

  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }

  @keyframes text-shimmer {
    from {
      background-position: 0% 50%;
    }

    to {
      background-position: 100% 50%;
    }
  }
}

:root {
  --background: #050505;
  --foreground: #ffffff;
  --card: #0a0a0a;
  --card-foreground: #ffffff;
  --popover: #0a0a0a;
  --popover-foreground: #ffffff;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #18181b;
  --secondary-foreground: #a1a1aa;
  --muted: #18181b;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #27272a;
  --input: #27272a;
  --ring: #6366f1;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply antialiased selection:bg-indigo-500/30 selection:text-indigo-200;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border border-[#050505] hover:bg-zinc-600 transition-colors;
}

/* Utility for specific containers */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 20px;
}

.glass-panel {
  @apply bg-zinc-900/50 backdrop-blur-xl border border-white/5 shadow-2xl;
}